<div id="dashboard-view">
  <div class="row dashboard-nav text-center">
    <div class="col-md-8 col-md-offset-2">
      <button ng-click="showForm = !showForm" class="dash-btn btn btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span> Add Child</button>
      <div ng-show="showForm">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">
              <form>
                <label>Name</label>
                <input ng-model="kid.name" type="text" class="form-control">
                <label>Gender</label>
                <input ng-model="kid.gender" type="text" class="form-control">
                <label>Age</label>
                <input ng-model="kid.age" type="text" class="form-control">
                <button type="submit" ng-click="addKid(kid)" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" ng-repeat="kid in kidObjects">
      <div class="thumbnail">
        <a href='/tracker'><img ng-src="http://a.abcnews.go.com/images/Health/HT_sam_griner_then_02_jef_150413_16x9_992.jpg" alt="..."></a>
        <div class="caption">
          <h3 class="text-center text-info">{{kid.name}}</h3>
          <h4 class="text-center text-info">{{kid.gender}}</h4>
          <h4 class="text-center text-info">{{kid.age}}</h4>
          <!-- {{currentKids}} -->
        </div>
      </div>
    </div>
  </div>
</div> 
</div>