<div class="row">
    <div class="col-md-3">
      <div ng-controller='MondayPie' class="thumbnail">
        <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels" chart-options='options'>
        </canvas> 
        <div class="caption">
          <h3 class="text-center text-info">Monday</h3>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-controller='TuesdayPie' class="thumbnail">
        <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels"chart-options='options'>
        </canvas>
        <div class="caption">
          <h3 class="text-center text-info">Tuesday</h3>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-controller='WednesdayPie' class="thumbnail">
        <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels"chart-options='options'>
        </canvas>
        <div class="caption">
          <h3 class="text-center text-info">Wednesday</h3>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-controller='ThursdayPie' class="thumbnail">
        <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels"chart-options='options'>
        </canvas>
        <div class="caption">
          <h3 class="text-center text-info">Thursday</h3>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row second-row">
    <div class="col-md-3 col-md-offset-1">
      <div ng-controller='FridayPie' class="thumbnail">
        <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels"chart-options='options'>
        </canvas>
        <div class="caption">
          <h3 class="text-center text-info">Friday</h3>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-controller='SaturdayPie' class="thumbnail">
        <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels"chart-options='options'>
        </canvas>
        <div class="caption">
          <h3 class="text-center text-info">Saturday</h3>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div ng-controller='SundayPie' class="thumbnail">
        <canvas id="pie" class="chart chart-pie"
          chart-data="data" chart-labels="labels" chart-options='options'>
        </canvas>
        <div class="caption">
          <h3 class="text-center text-info">Sunday</h3>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">Details</a></p>
        </div>
      </div>
    </div>
  </div>
</div>